{{define "base" }}
    <!doctype html>
    <html lang="en">

    {{template "header" .}}

    <body>
    {{template "my-account" .}}

    {{block "content" .}}

    {{end}}

    {{block "js" .}}

    {{end}}

    {{template "footer" .}}

    </body>
    </html>

{{end}}