{{template "base" .}}

{{define "content" }}
    <div class="container">
        <div class="row">
            <span>New Game</span>
            <form action="/new_game" method="post">
                <span>Number of Players:</span><input type="text" name="players"/>
                <input type="submit" value="submit"/>
            </form>
        </div>
    </div>
{{end}}

{{define "js"}}
    <script>


    </script>
{{end}}
